
/* Buttons */
.btn-default{
    color: #006aff;
    border-color: #006aff;
}

.btn-navbar{
    margin-top: 9px;
    margin-left: 5px;
}

/* HEADER | Navbar */

.navbar-brand-logo {
    max-width: 200px;
    position: relative;
    bottom: 8px;  
}

.navbar-left {
    margin-left: 3%;
}

.fa-angle-down {
    padding-left: 8px;
}

/* HEADER | Navbar | Mediaquery Responsive */

