
/* Buttons */
.btn-default{
    color: #006aff;
    border-color: #006aff;
}

.btn-navbar{
    margin-top: 9px;
    margin-left: 5px;
}

/* HEADER | Navbar */

.navbar-brand-logo {
    max-width: 200px;
    position: relative;
    bottom: 8px;  
}

.navbar-left {
    margin-left: 3%;
}

.fa-angle-down {
    padding-left: 8px;
}

.navbar-default .container {
    position: relative;
}

.navbar-toggle {
    color:#2485fd;
}

/* HEADER | Navbar | Mediaquery Responsive */

@media screen and (min-width: 768px) and (max-width: 991.2px) {
    /* ! Alla media query è stato aggiunto un 0.2 pixel dovuto al comportamento della viewport del  monitor del mio portatile. Standard, sarebbe a 991px */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    .navbar-collapse {
        display: none;
    }
}