body {
    font-family: 'Roboto', sans-serif;
    color:#6f7b97;
}

/* Utilities */

.pd-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pd-t-50{
    padding-top:50px;
}

.pd-b-50{
    padding-bottom:50px;
}

/* Typography */

.text-darkblue{
    color: #031c4e;
}

.text-paleblue{
    color: #006aff;
}

.h1, .h2, .h3, .h4,  h1, h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.jumbotron .title-text h1 {
    color: white;
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-size: 33px;
}

p {
    font-size: 20px;
}

a.link-to {
    color:#1c79fe;
    text-decoration: none;
}


/* Buttons */

.btn-default{
    color: #006aff;
    border-color: #006aff;
    margin-top: 0;
}


/* HEADER | Nav Bar */


.navigator .row{
    padding-top:10px;
    padding-bottom: 10px;
}

.nav-logo-img {
    width: 150px;
    padding-top: 10px;
}

.nav-hamburger{
    text-align: right;
    font-size: 22px;
    color: #3a8aff;
    padding-top: 10px;
}

ul.nav-list  li {
    line-height: 50px;
    font-size: 15px;
    padding-left: 10px;
}

/* HEADER | Jumbotron */

.jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    margin-bottom: 0;
}

.jumbotron .row{
    margin: 0 auto;
}

.jumbotron .title-text p{
    color: white;
    font-size: 20px;
}

/*  HEADER | Jumbotron | form */

.col-form{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.col-form .privacy {
    margin-top: 20px;
    font-size: 12px;
}

.col-form h2 {
    font-weight: bold;
    font-size: 25px;
}

form{
    margin-top:15px;
}

.submit-button{
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.form-control::placeholder {
    color: #7b7b7b;
    opacity: 1;
}

.form-group input {
    border-color: #f3f3f3;
    box-shadow: none;
}

.form-group input:focus{
    border-color: #1776fe;
    box-shadow: none;
}

.submit-button img {
   height: 18px; 
   margin: auto 0;
    position: absolute;
    left: 1%;
    opacity: 0.8;
}

.submit-button:nth-of-type(1) {
    background-color: #579aff;
    color: white;
    border-color:#b5d2ff;
    font-weight: bold;
}

form .submit-button:nth-of-type(1):hover{
    background-color: #0248ff;
}
.submit-button:nth-of-type(2) {
    color: #757575;
    border-color:#b5d2ff;
    font-weight: bold;
}

form .submit-button:nth-of-type(2):hover{
    background-color: hsl(224, 7%, 32%);
    color:white;
}

.privacy {
    color:black;
}

.privacy a{
    text-decoration: underline;
    color: #006aff;
}

/* MAIN | platforms */

.platforms .row h4{
    font-weight: 500;
    font-size: 16px;
}

/* MAIN | platforms | image wrapper */

.img-wrapper li  {
    width: calc(100% / 2 - 15px);
    margin-right: 7px;
}

.img-wrapper img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.img-wrapper .git-lab {
    width: 100%;
}

/* MAIN | deploy */

.deploy-list li p {
    margin-bottom: 0;
}

.deploy-list li.list-group-item {
    border-radius: 0;
    border: none;
    border-left: 1px solid #cccccc;
}

.deploy-items{
    padding-top: 10px;
    padding-bottom: 10px;
}

.deploy-items h4 {
    margin-top: 15px;
}

.deploy-items p {
    font-size: 16px;
}

/* MAIN | Slide-1 */

.slide-1 {
    position: relative;
}

.slide-1 img {
    width: 70%;
    min-width: 250px;
}

.slide-1 p {
    font-size: 16px;
    margin-top: 10px;
}

.slide-circle .full,
.slide-circle .empty {
    color: #006aff;
}

/* MAIN | Customers */

section.customers{
    background-color:#0032ae;
}

.customers h2 {
    color: white;
}

/* ! TABLET VERSION */

@media screen and (min-width: 768px){
    /* HEADER | Jumbotron */
    .jumbotron .h1, .jumbotron h1{
        font-size: 36px;
    }
    /* MAIN | platforms | image wrapper */
    .img-wrapper li  {
        width: calc(100% / 6 - 15px);
        margin-right: 7px;
    }

    .img-wrapper img{
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
    }

    /* MAIN | deploy items */

    .deploy-items-wrapper{
        padding-top: 50px;
    }

    /* MAIN | Slide-1 | Slide-img */

    .slide-left{
        position:absolute;
        top: 50%;
        left: 8%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .slide-right{
        position:absolute;
        top: 50%;
        right: 8%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    /* MAIN | Customers */

}

/* ! DESKTOP VERSION */

@media screen and (min-width: 992px){
    /* HEADER | Jumbotron */
    .jumbotron .h1, .jumbotron h1{
    font-size: 60px;
    }
    /* MAIN | platforms | image wrapper */
}