body {
    font-family: 'Roboto', sans-serif;
    color:#6f7b97;
}

/* DEBUG UTILITIES */

.box-1 {
    width: 100%;
    height: 100px;
    background-color: violet;
    border: 1px solid red;
}

/* Utilities */

.pd-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pd-t-50{
    padding-top:50px;
}

.pd-b-50{
    padding-bottom:50px;
}

/* Typography */

.text-darkblue{
    color: #031c4e;
}

.text-paleblue{
    color: #006aff;
}

.text-black{
    color: black;
}

.text-white {
    color: white;
}

.h1, .h2, .h3, .h4,  h1, h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.jumbotron .title-text h1 {
    color: white;
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-size: 33px;
}

p {
    font-size: 20px;
}

a.link-to {
    color:#1c79fe;
}

/* Buttons */

.btn-default{
    color: #006aff;
    border-color: #006aff;
    margin-top: 0;
}

.btn-primary {
    background: white;
    color: #006aff;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
}


/* HEADER | Nav Bar */


.navigator .row{
    padding-top:10px;
    padding-bottom: 10px;
}

.nav-logo-img {
    width: 150px;
    padding-top: 10px;
}

.nav-hamburger{
    text-align: right;
    font-size: 22px;
    color: #3a8aff;
    padding-top: 10px;
}

ul.nav-list  li {
    line-height: 50px;
    font-size: 15px;
    padding-left: 10px;
}

/* HEADER | Jumbotron */

.jumbotron {
    background-image: url(../img/bg-banner-home.jpg);
    margin-bottom: 0;
}

.jumbotron .row{
    margin: 0 auto;
}

.jumbotron .title-text p{
    color: white;
    font-size: 20px;
}

/*  HEADER | Jumbotron | form */

.col-form{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.col-form .privacy {
    margin-top: 20px;
    font-size: 12px;
}

.col-form h2 {
    font-weight: bold;
    font-size: 25px;
}

form{
    margin-top:15px;
}

.submit-button{
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.form-control::placeholder {
    color: #7b7b7b;
    opacity: 1;
}

.form-group input {
    border-color: #f3f3f3;
    box-shadow: none;
}

.form-group input:focus{
    border-color: #1776fe;
    box-shadow: none;
}

.submit-button img {
   height: 18px; 
   margin: auto 0;
    position: absolute;
    left: 1%;
    opacity: 0.8;
}

.submit-button:nth-of-type(1) {
    background-color: #579aff;
    color: white;
    border-color:#b5d2ff;
    font-weight: bold;
}

form .submit-button:nth-of-type(1):hover{
    background-color: #0248ff;
}
.submit-button:nth-of-type(2) {
    color: #757575;
    border-color:#b5d2ff;
    font-weight: bold;
}

form .submit-button:nth-of-type(2):hover{
    background-color: hsl(224, 7%, 32%);
    color:white;
}

.privacy {
    color:black;
}

.privacy a{
    text-decoration: underline;
    color: #006aff;
}

/* MAIN | platforms */

.platforms{
    background-color: #f3f5f9;
}

.platforms .row h4{
    font-weight: 500;
    font-size: 16px;
}

/* MAIN | platforms | image wrapper */

.img-wrapper li  {
    width: calc(100% / 2 - 15px);
    margin-right: 7px;
}

.img-wrapper img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 80px;
}

.img-wrapper [src*="splunk.png"]{
    max-height: 50px;
}
.img-wrapper [src*="gitlab.png"]{
    max-height: 120px;
}

/* MAIN | deploy */

.deploy{ 
    background-color: #ffffff;
}

.deploy-list li p {
    margin-bottom: 0;
}

.deploy-list li.list-group-item {
    border-radius: 0;
    border: none;
    border-left: 1px solid #cccccc;
}

.deploy-items{
    padding-top: 10px;
    padding-bottom: 10px;
}

.deploy-items h4 {
    margin-top: 15px;
}

.deploy-items p {
    font-size: 16px;
}

/* MAIN | Slide-1 */

.designed{
    background: #f3f5f9;
}

.slide-1 {
    position: relative;
}

.slide-1 img {
    width: 70%;
    min-width: 250px;
}

.slide-1 p {
    font-size: 16px;
    margin-top: 10px;
}

.slide-circle .full,
.slide-circle .empty {
    color: #006aff;
}

/* MAIN | Customers */

section.customers{
    background-color:#0032ae;
}

.customers h2 {
    color: white;
    margin-bottom: 30px;
}

/* MAIN | Customers | table */

.table.customers-table .first-row th, 
.table.customers-table .first-row td {
    border-top: 2px solid transparent;
}

.table.customers-table  tr  td, 
.table.customers-table tr  th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.customers-table tr th {
    color: white;
    font-weight: bold;
}

.customers-table tr td {
    color: #a8b8e0;
}

.customers-table tr td a {
    color: #00c0cb;
    text-decoration: none;
}

a .angle{
    font-size: 10px;
}
/* MAIN | Slide-2 | Slide Img */

.slide-2-wrapper{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    background-color:white;
    max-width: 70%;
    min-width: 250px;
}

.rockerbox-logo {
    max-width: 300px;
}

p.rockerbox-text{
    font-size: 22px;
    padding-top: 15px;
}

p.small.text-black{
    line-height: 1;
}

/* MAIN | Bottom */

.main-bottom {
    background-color: #0032ae;
}

/* FOOTER */

footer {
    background-color: #031c4e;
}

/* FOOTER | Copyright and Social */
.small.copyright{
    font-size:14px;
    color: #8993a8;
    margin-top:15px;
    margin-bottom: 0;
    font-weight: bold;
}
.small.made-in{
    font-size:14px;
    color: #566584;
    margin-bottom: 0;
    font-weight: bold;
}

.footer-social i {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* FOOTER | Links */

footer .list-footer li a {
    line-height: 2;
    color: #a1a9b9;
}

footer .list-footer li:first-child{
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
}

/* HELP BOTTOM BAR */

.shark {
    width:60px;
    height: 60px;
    background-color: #006aff;
    border-radius: 5px;
    position: fixed;
    bottom: 15%;
    left: 5%;
}

.shark img {
    width: 100%;
    padding: 5px 0;
}

.shark::after{
    width: 30px;
    height: 30px;
    color:white;
    text-align: center;
    content: '2';
    padding-top:1px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    left: 40px;
    top:-12px;
}

.shark:hover ~ .baloon-text{
    visibility: visible;
}

.baloon-text {
    max-width:350px;
    padding: 10px 20px 5px 10px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    left: 5%;
    bottom: 0;
    visibility: hidden;
}

.baloon-text p{   
    font-size: 16px;
    color: black;
}

.baloon-text::before{
    height: 15px;
    width: 20px;
    content: '';
    background-color: white;
    position: absolute;
    right: -5px;
    bottom: 10px;
    rotate: 45deg;

}

/* ! TABLET VERSION */

@media screen and (min-width: 768px){
    /* HEADER | Jumbotron */
    .jumbotron .h1, .jumbotron h1{
        font-size: 36px;
    }
    /* MAIN | platforms | image wrapper */
    .img-wrapper li  {
        width: calc(100% / 6 - 15px);
        margin-right: 7px;
    }

    .img-wrapper img{
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
    }

    /* MAIN | deploy items */

    .deploy-items-wrapper{
        padding-top: 50px;
    }

    /* MAIN | Slide-1 | Slide-img */

    .slide-left{
        position:absolute;
        top: 50%;
        left: 8%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    .slide-right{
        position:absolute;
        top: 50%;
        right: 8%;
        font-size: 30px;
        transform: translateY(-50%);
    }

    /* MAIN | Customers | Table */
    .customers-table tr td:last-of-type {
        text-align: right;
    }

}

/* ! DESKTOP VERSION */

@media screen and (min-width: 992px){
    /* HEADER | Jumbotron */
    .jumbotron .h1, .jumbotron h1{
    font-size: 60px;
    }

    /* HELP BOTTOM BAR */
    .shark{
        left: 90%;
        bottom: 5%;
    }

    .baloon-text{
        left: 55%;
        bottom: 5%;
    }

}

/* ! DESKTOP LARGE */

@media screen and (min-width: 1200px){

        /* HELP BOTTOM BAR */

    .baloon-text {
        left: 60%;
    }

}



